@font-face {
    font-family: 'latoregular';
    src: url('fonts/lato/lato-regular-webfont.woff2') format('woff2'),
        url('fonts/lato/lato-regular-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('fonts/lato/lato-bold-webfont.woff2') format('woff2'),
        url('fonts/lato/lato-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url('fonts/lato/lato-light-webfont.woff2') format('woff2'),
        url('fonts/lato/lato-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto/RobotoMonoLight.woff2') format('woff2'),
        url('fonts/roboto/RobotoMonoLight.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

h1 {
    color: #2774AE;
    font-family: latobold;
    padding-top: 4%;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: -1%;
}

h2 {
    font-size: 20px;
}

body {
    background-color: #f9f9f9;
    /* background-color:#F9F6EE; */
    /* background-color: #FFFAFA; */
    /* background-color: #FEFEFA; */
    font-family: latolight;
    line-height: 1.6em;
    font-size: 14px;
    max-width: 650px;
    margin: auto;
}

header {
    text-align: left;
    margin-top: 5%;
    background-color: inherit;
    margin-left: 3%;
    max-width: 650px;
}

main {
    max-width: 650px;
    margin-left: 3%;
}

nav {
    display: block;
    overflow: hidden;
    float: left;
}

hr {
    color:black;
    border-color:black;
    background-color:black;
    text-align: left;
    width: 97%;
    max-width: 650px;
    margin-left: 3%;
    display: block;
    height: 0px;
    border=0;
    border-top: 2.5px solid;
    border-bottom: 0px;
    background-color: inherit;
}

details > summary {
    list-style-type: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary::before {
    font-family:'roboto';
    font-size:14px;
    content:'[+]';
    margin-right:3px;
}

details[open] > summary::before {
    font-family:'roboto';
    font-size:14px;
    content: '[-]';
    margin-right:3px;
}

details > summary:hover {
    cursor:pointer;
    color:gray;
}

main {
}

main a {
    color: #003B5C;
    text-decoration: none;
    font-family: 'latoregular';
}

main a:hover {
    color: #2774AE;
}

main a:visited {
}

nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 1px 0px;
    margin-right: 21px
}

nav a.active {
    color: #2774AE;
}

nav a:hover {
    color: gray;
}

img {
    width: 80%;
    max-width: 650px;
    margin-top: 5px;
}

p {
    word-break: break-word;
}

.subsection {
    width: 100%;
    max-width: 650px;
    font-size: 15px;
}

.weeklist {
    /* delete default counter */
    list-style-type: none;
    /* create custom counter and set it to 0 */
    counter-reset: elementcounter;
}

.weeklist>li:before {
    /* print out "Element " followed by the current counter value */
    content: "Week "counter(elementcounter) ": ";
    /* increment counter */
    counter-increment: elementcounter;
}

.paperlist {
    padding-left:1.1em;
}

.suppFile {
    font-size: 10px;
}

.subhead {
    line-height: 1em;
    font-family: latoregular;
    font-size: 18px;
    margin-bottom: 0px;
}

.subsubhead {
    line-height: 1em;
    font-family: latoregular;
    font-size: 16px;
    margin-bottom: 10px;
}

