@font-face {
  font-family: 'dejavu_sans_monobook';
  src: url('fonts/dejavu/dejavusansmono-webfont.woff2') format('woff2'),
    url('fonts/dejavu/dejavusansmono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url('fonts/lato/lato-regular-webfont.woff2') format('woff2'),
    url('fonts/lato/lato-regular-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'latobold';
  src: url('fonts/lato/lato-bold-webfont.woff2') format('woff2'),
    url('fonts/lato/lato-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'latolight';
  src: url('fonts/lato/lato-light-webfont.woff2') format('woff2'),
    url('fonts/lato/lato-light-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

h1 {
  color: darkblue;
  font-family: latobold;
}

body {
  background-color: lightblue;
  font-family: latolight;
  line-height:  1.6em;
  font-size: 14px;
}







